<p-toolbar>
    <div class="ui-toolbar-group-right">
        <span class="font-lg bold">Jack Burton</span>
    </div>
    <div class="ui-toolbar-group-left">
        <img style="height:7vh;margin-left:1vw;margin-top:auto"
            src="assets/images/logoaifinal.jpg">
    </div>
</p-toolbar>
    
<div class="p-grid">
    <div *ngFor="let project of state.orderedProjects; let i = index"
        class="p-col-4 p-justify-even">
        <p-card [style]="{'margin-left': '3%','margin-right':'3%', 'margin-top':'5%'}">
            <img style="width:100%;height:100%;"
                (click)="showDialog(project)"
                src="assets/images/{{project.picUrl}}">
        </p-card>
    </div>
</div>

<p-dialog [(visible)]="state.showDialog" 
    [modal]="true" 
    [responsive]="true" 
    [dismissableMask]="true"
    [style]="{width: '60vw', minWidth: '200px'}" 
    [minY]="70" 
    [baseZIndex]="10000">
    <p-card header="{{state.selectedProject.title}}" subheader="By Jack Burton" [style]="{width: '100%'}" styleClass="ui-card-shadow">
        <p-header>
            <img src="Card" src="assets/images/{{state.selectedProject.picUrl}}">
        </p-header>
        <div>{{state.selectedProject.description}}</div>
    </p-card>
    <!-- <p-footer>
        <button type="button" icon="pi pi-check" (click)="display=false" label="Yes">Yes</button>
        <button type="button" icon="pi pi-close" (click)="display=false" label="No" class="ui-button-secondary">No</button>
    </p-footer> -->
</p-dialog>